<?xml version="1.1" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <conversionRule conversionWord="highlightex" converterClass="ua.adeptius.asterisk.spring_config.HighlightingCompositeConverterEx" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlightex(%-5level) %highlightex([%20logger]) - %highlightex(%msg%n)</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/home/adeptius/tomcat/logs/tomcat.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/home/adeptius/tomcat/logs/archived/tomcat-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>3MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.asteriskjava.manager.internal.EventBuilderImpl" level="off"/>
    <logger name="org.asteriskjava.manager.internal.ManagerReaderImpl" level="off"/>
    <logger name="org.asteriskjava.manager.internal.ManagerConnectionImpl" level="off"/>
    <logger name="org.springframework.web.servlet.mvc.support.DefaultHandlerExceptionResolver" level="off"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="com.mchange" level="WARN"/>
    <logger name="org.apache.http" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="com.mchange.v2.c3p0.management.ActiveManagementCoordinator" level="ERROR"/>
    <logger name="org.asteriskjava.fastagi.DefaultAgiServer" level="INFO"/>


    <!--<appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">-->
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
            <!--<level>ERROR</level>-->
        <!--</filter>-->
        <!--<smtpHost>smtp.gmail.com</smtpHost>-->
        <!--<smtpPort>587</smtpPort>-->
        <!--<STARTTLS>true</STARTTLS>-->
        <!--<username>your.cloud.monitor@gmail.com</username>-->
        <!--<password>357Monitor159</password>-->

        <!--<to>adeptius@gmail.com</to>-->
        <!--<from>your.cloud.monitor@gmail.com</from>-->
        <!--<subject>Ошибка на сервере: %logger{20} - %m</subject>-->
        <!--<layout class="ch.qos.logback.classic.PatternLayout">-->
            <!--<pattern>%date %logger - %message%n</pattern>-->
        <!--</layout>-->
    <!--</appender>-->

    <root level="trace">
        <appender-ref ref="console"/>
        <appender-ref ref="ROLLING"/>
        <!--<appender-ref ref="EMAIL" />-->
    </root>

</configuration>

